@using ApplicationToSellThings.BlazorUI.Pages
@inherits LayoutComponentBase
@inject IState<AuthState> AuthState

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>ApplicationToSellThings.BlazorUI</PageTitle>

<div class="page @(AuthState.Value.IsAuthenticated && AuthState.Value.UserRoles.Contains("Admin") ? "admin-layout" : "user-layout")">
    @if (AuthState.Value.IsAuthenticated && AuthState.Value.UserRoles.Contains("Admin"))
    {
        <div class="sidebar">
            <AdminSideMenu/>
        </div>
    }
    else
    {
        <NavMenu />
    }

    <main class="flex mt-4">
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>

@code
{
    
    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }
    
    private string FormatUserName(string userName)
    {
        if (string.IsNullOrWhiteSpace(userName))
        {
            return userName;
        }

        return System.Text.RegularExpressions.Regex.Replace(userName, "(\\B[A-Z])", " $1");
    }
}
