@page "/products"

@using ApplicationToSellThings.BlazorUI.Models.Products;
@using ApplicationToSellThings.BlazorUI.Services.Interfaces;
@inject NavigationManager NavigationManager
@inject IProductsService ProductsService

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="gradient-custom">
        <div class="container py-5 h-100">
            <div class="grid-container">
                @foreach (var product in products)
                {
                    <div class="grid-item">
                        <div class="card card-border fixed-card">
                            <div class="container-md">
                                <img src="pictures/ProductImage.jpg" class="card-img-top center-img" alt="...">
                            </div>
                            <div class="card-body p-4">
                                <h6 class="card-title">
                                    <a class="product-link" @onclick="() => NavigateToDetails(product.ProductId)" style="cursor:pointer; color:black; text-decoration: none;">@product.ProductName</a>
                                </h6>
                                <p>@product.BrandName</p>
                                <h6>£@product.Price</h6>

                                <div class="col-lg-8" style="border: 1px solid;">
                                    <button @onclick="() => AddToCart(product)" class="btn-addToCart px-3 py-2 position-absolute bottom-0 end-0 m-3">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductsService.GetProductsAsync();
    }

    private void NavigateToDetails(Guid productId)
    {
        NavigationManager.NavigateTo($"/productdetails/{productId}");
    }

    private Task AddToCart(Product product)
    {
        // Implement adding to cart, potentially also in ProductsService
        return Task.CompletedTask;
    }
}